
{% load crispy_forms_tags %}

<div class="mb-3 text-center">
    {% if animal.fotos.all %}
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    <img 
                    style="height:350px; width:350px;"
                    class="img-thumbnail"
                    src="{{ animal.fotos.first.url }}"
                    alt="Your Logo">
                </div>
                {% for foto in animal.fotos.all %}
                    {% if foto == animal.fotos.first %}
                    {% else %}
                        <div class="carousel-item" >
                            <img 
                            style="height:350px; width:350px;"
                            class="img-thumbnail"
                            src="{{foto.url}}"
                            alt="Your Logo">
                        </div>
                    {% endif %}
                    
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    {% else %}
    {% endif %}
    <form
    hx-post="{% url 'save_animal_image' animal.id%}"
    hx-target="#animal_fotos_div" 
    hx-swap="innerHTML"
        >
        <div class="row">
            <div class="col-6">
                {{form|crispy}}
            </div>
            <div class="col-6">
                <button 
                    type="submit" 
                    class="btn btn-success"
                    >Guardar Imagem
                </button>
            </div>
        </div>
    </form>
</div>
